.card-game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--width);
    height: var(--height);
    background-color: var(--color-alura);
    border: 0.4rem solid var(--color-floral-white);
}