html, body {
    font-size: 10px;
    height: 100%;
}

body {
    background-color: var(--color-pomp-and-power);
    max-width: 32rem;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Press Start 2P', cursive;
}