.player-arrow {
    width: 2rem;
    height: 1.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.3rem;
    position: relative;
    left: 11.1rem;
    transition: transform 400ms ease-in-out;
}

.player-arrow.-p2 {
    transform: translateX(7.8rem);
}